section.about {
  background-image: url("/assets/about-bg.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;

  box-shadow: inset 0 0 150px 20px #000;
}